{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signup.css') }}">
{% endblock %}

{% block page_name %}Sign Up{% endblock %}

{% block content %}
    <div class="signup">
        <div class="signup-top">
            <div class="top-title">
                <strong class="title-name">Sign Up</strong>
                <img class="title-logo" src="{{ url_for('static', filename='img/black-logo.svg') }}" height="85" width="85">
            </div>
        </div>
        <form class="login-form" action="{{ url_for('auth.signup') }}" method="POST">
            {{ form.csrf_token }}
            {{ form.username(class='form-field', placeholder='username') }}
            {{ form.email(class='form-field', placeholder='email') }}
            {{ form.password(class='form-field', placeholder='password') }}
            {{ form.submit(class='form-button') }}
        </form>
        <div class="form-text">
            Need an account? <a class="bottom-url" href="/signup/">SIGN UP</a>
        </div>
    </div>
{% endblock %}