{% extends 'auth/sign-base.html' %}

{% block page_name %}Sign Up{% endblock %}

{% block title_name %}Sign Up{% endblock %}

{% block auth_form %}
    <form class="auth-form" action="{{ url_for('auth.signup') }}" method="POST">
        {{ form.csrf_token }}
        {{ form.username(class='form-field', placeholder='username') }}
        {{ form.email(class='form-field', placeholder='email') }}
        {{ form.password(class='form-field', placeholder='password') }}
        {{ form.submit(class='form-button') }}
    </form>
{% endblock %}

{% block form_text %}
    Already have an account? <a class="bottom-url" href="{{ url_for('auth.signin') }}">SIGN IN</a>
{% endblock %}