{% extends 'auth/sign-base.html' %}


{% block page_name %}Sign In{% endblock %}

{% block title_name %}Sign In{% endblock %}

{% block auth_form %}    
    <form class="auth-form" action="{{ url_for('auth.signin') }}" method="POST">
        {{ form.csrf_token }}
        {{ form.email(class='form-field', placeholder='email') }}
        {{ form.password(class='form-field', placeholder='password') }}
        {{ form.submit(class='form-button') }}
    </form>
{% endblock %}

{% block form_text %}
    Need an account? <a class="bottom-url" href="{{ url_for('auth.signup') }}">SIGN UP</a>
{% endblock %}