:root {
    --auth-width: 320px;
}

.auth {
    width: var(--auth-width);
    
    margin: 70px auto;
    border-radius: 30px;

    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    background-color: white;

    padding-bottom: 15px;
}

.auth-top {
    height: 100px;
    
    border-bottom: 2px solid black;
}

.top-title {
    width: var(--auth-width);
    margin: auto;
    padding-top: 10px;

    display: flex;
    justify-content: center;
}

.title-name {
    font-size: 55px;
    font-weight: 700;

    margin-right: 20px;

    display: inline;
}

.title-logo {
    width: 85px;
    height: 85px;

    margin-top: 5px;
}

/* ERROR MESSAGE */

.error-message {
    width: 85%;

    margin: 20px auto 0 auto;
    padding: 5px;

    border-radius: 20px;

    text-align: center;
    font-size: 17px;
    font-weight: 300;

    background-color: #fc8684;
}

/* FORM */


.auth-form {
    text-align: center;
}

.form-field {
    width: 270px;
    height: 55px;

    margin-top: 25px;

    border: 2px solid #6C757C;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 600;
    text-indent: 7px;
}

.form-field:focus {
    outline: none;
}

.form-button {
    width: 150px;
    height: 50px;

    margin-top: 30px;

    display: inline-block;

    border-radius: 50px;

    font-size: 28px;
    font-weight: 600;
    color: white;

    background-color: black;
}

.form-button:focus {
    background-color: rgb(80, 80, 80);
}


.form-text {
    margin: 25px 0;

    text-align: center;
    color: rgb(91, 92, 94);
}

.bottom-url {
    text-decoration: underline;

    color: black;
}

.bottom-url:hover {
    color: dimgray;
}