:root {
    --page-width: 1400px;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    border-radius: 0px;

    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #EAEAEA;
}

main {
    width: var(--page-width);

    margin: 50px auto;
}