:root {
    --header-height: 60px;
}

header {
    height: var(--header-height);

    background-color: #FFFFFF;
    display: block;
}

.header-content {
    width: var(--page-width);
    height: var(--header-height);
    margin: 0px auto;

    display: flex;
}

.header-buffer {
    flex: 1;
}

.logo-url {
    width: 300px;
    
    display: flex;
    vertical-align: middle;
    
    font-size: 45px;
    color: #000000;
}

.logo-url:hover {
    color: #5f5f5f;
}

.logo-img, .logo-name {
    height: 100%;
    vertical-align: middle;
}

/* NAVBAR */

.navbar {
    display: flex;
    margin: auto 0 auto 0;
}

.nav-url {
    height: var(--header-height);

    display: flex;
    justify-content: center;
    margin: 0 25px;

    font-size: 28px;
    font-weight: 500; 
    color: #000000;
}

.nav-url:hover {
    color: #5f5f5f;
}

.nav-text {
    margin: auto;
}
