header {
    width: 100vw;
    height: var(--header-height);

    background-color: #212529;
    display: block;
}

.header-content {
    width: var(--page-width);
    height: var(--header-height);
    margin: 0px auto;

    display: flex;
}

.logo {
    display: flex;

    flex: 1;

    color: white;
}

.logo-url {
    height: 50px;
    vertical-align: middle;

    color: white;
}

.logo-url:hover {
    color: lightslategray;
}

.logo-img, .logo-name {
    font-size: 41px;
    vertical-align: middle;
    
    display: inline;
}

.navbar {
    display: inline-flex;
    margin: auto 0px;
}

.nav-url {
    margin: 0px 15px;

    font-size: 25px; 
    color: white;
}

.nav-url:hover {
    color: lightslategrey;
}

.nav-searchbar {
    width: 280px;
    height: 100%;

    margin: auto 0px;
    margin-left: 10px;

    display: flex;
}

.searchbar {
    width: 220px;
    height: 32px;
    vertical-align: middle;

    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;

    text-indent: 5px;
}

.searchbar:focus {
    outline: none;

}


.search-button {
    width: 15%;
    height: 32px;
    padding-top: 5px;

    border-left: 1px solid black;

    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    font-size: 17px;
    cursor: pointer;
    background-color: rgb(226, 226, 226);
    color: black;
}

