* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    border-radius: 0px;

    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #DEE2E6;
}

main {
    width: 1300px;

    margin: 50px auto;
}