.timetable-name {
    color: white;
    font-size: 50px;
}

.week-day {
    height: 100px;

    background-color: #1C1C1E;

    border-top: 2px;
    border-bottom: 2px;
    border-color: #303033
}

.week-day + .week-day {
    margin-top: 30px;
}