<!DOCTYPE html>

<html lang="en">

    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        {% block css %}
        {% endblock %}

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="'image/x-icon">

        <title>
            {% block title %}
            {% block page_name %}base{% endblock %} | Timetable
            {% endblock %}
        </title>
        {% endblock %}
    </head>


    <body>
        {% block header %}
            {% include 'src/header.html'   %}
        {% endblock %}
        <div class="page-content">
            <main>
                {% block content %}
                {% endblock %}    
            </main>
        </div>
    </body>

</html>