<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="static/styles.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="'image/x-icon">
        <title>{% block title %}Base page{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <nav>
                    <a href="/" class="nav_elem">Timetable</a>
                </nav>
            </header>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>